.body-search{
    background-color: #E9EDEE ;
    width: 100%;
}
.container-search{
    padding-left: 25px;
}
.searchResultsMap{
    position: fixed;
    bottom: 0;
    right: 0;
    padding-top: 50%;
}
.searchResultsGrid{
    width: 60%;
}

.container-list-car{
    padding: 10px;
}
.title-list{
    color: black;
    font-weight: bold;
    font-family: Arial;
}
.avatar-user {
    width: 150px;
    border-radius: 50%;
    padding-top: 5px;
    padding-left: 5px;
}
.container-feedback{
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
.title-car-feedback{
    color: orange;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

body {
    background-color: #ecf0f1; }

header {
    display: block;
    overflow: hidden;
    position: relative;
    padding-bottom: 2em;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-right-radius: 8px; }

.container-checkout {
    width: 320px;
    margin: 3em auto 1em auto;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    padding-bottom: 1.5em;
    background-color: white;
    -webkit-box-shadow: #bdc3c7 0 5px 5px;
    -moz-box-shadow: #bdc3c7 0 5px 5px;
    box-shadow: #bdc3c7 0 5px 5px; }

.bg {
    border-bottom: 8px solid #5cc0ff; }


.avatarcontainer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 70px;
    height: 70px;
    display: block; }
.avatarcontainer:hover > .hover {
    opacity: 1; }

.avatar {
    width: 100%;
    border: 8px solid #5cc0ff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    position: relative; }
.avatar img {
    width: 65px;
    height: 65px; }
.avatar:hover + .hover {
    opacity: 1;
    cursor: pointer; }

.hover {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: #3498db;
    top: 0;
    font-size: 1.8em;
    text-align: center;
    color: white;
    padding-top: 18%;
    opacity: 0;
    font-family: 'FontAwesome';
    font-weight: 300;
    border: 8px solid #5cc0ff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease; }
.data {
    margin-left: 10px;
    margin-top: .6em;
    font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
    color:black; }
.name-car-checkout {
    color: black;
    display: block;
    text-transform: uppercase;
    font-family: 'Quicksand';
    font-size: .9em;
    margin-top: .6em;
    font-weight:700;
}
.trip {
    font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
    font-size: .8em;
}
.tripTime{
    margin-top: .6em;
    margin-left: 10px;
    margin-right: 10px;
}
.day-tripTime{
    color: #231f20;
    font-size: .9em;
    font-weight: 700;
}
.time-tripTime{
    color: #5d5d5d;;
}
.tripLocation{
    margin-left: 10px;
}
.tripLocation span{
    color: #5d5d5d;
    font-size: 13px;
    font-weight:700;
    margin: 0;
    text-transform: uppercase;
}
.tripLocation p{
    margin-left: 5px;
    font-size: 13px;
    font-weight:700;
    text-transform: uppercase;
}
.price-card{
    margin-right: 10px;
}
.price-card .card-body{
    background-color: #e6e6e6;
}
.priceTotal{
    font-weight: 700;
}

.container-setting{
    margin-top: 60px;
    margin-left: 300px;
    margin-bottom: 50px;
    border: solid grey;
    background-color: white;
    width: 60%;
    padding-top: 50px;
}
.form-setting{
    width: 100%;
    margin-left: 30px;
}

.title-setting{
    display: block;
    margin-bottom: 20px;
    color: #141414;
    font-weight: 700;
    line-height: 1.5;
}
.describe-title-setting{
    margin: 0 0 20px;
    color: #a9aaad;
    font-size: 1.2em;
}
.label-option-setting{
    width: auto;
    padding-left: 25px;
    color: #141414;
    font-size: 1.6em;
    font-weight: normal;
}
.textarea-setting{
    display: block;
    height: 100px;
    width: 80%;
    margin-bottom: 20px;
    border: 1px solid #e8eaef;
    border-radius: 3px;
    line-height: 1.5;
}
.btn-save-setting{
    margin: auto;
    width: 50%;
    height: 46px;
    line-height: 46px;
    padding: 0 20px;
    font-size: 1rem;
}

.status-list{
    background-color: #fff;
    margin-top: 20px;
    height: 100px;
    border: 0;
    font: inherit;
    vertical-align: initial;
    padding: 0;
    -webkit-box-shadow: 0 3px 2px #777;
    -moz-box-shadow: 0 3px 2px #777;
    box-shadow: 0 3px 2px #777;
}
.status-list select{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.list-my-car{
    margin-left: 30px;
    margin-top: 20px;
    border: 0;
    font: inherit;
    vertical-align: initial;
    padding: 0;
}
.box-car{
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
}
.img-my-car img{
    margin-top: 10px;
    margin-bottom: 10px;
}
.desc-car{
    margin-top: 10px;
}
.desc-car h2{
    font-weight: bold;
}
.price-mycar span{
    font-size: 30px;
    color: #ff7043;
    font-weight: 700;
    letter-spacing: normal;
}
.price-mycar sup{
    font-size: 14px;
    color: #262626;
    font-weight: 700;
    margin-right: 6px;
    letter-spacing: normal;
    position: relative;
    top: -10px;
}
.price-mycar{
    font-family: 'Source Sans Pro',sans-serif;
    color: #989898;
    font-weight: 700;
}
.line-mycar{
    position: absolute;
    width: 80%;
    bottom: 80px;
    border: .5px solid #e8e8e8;
}
.btn-mycar{
    width: 30%;
    bottom: 15px;
    position: absolute;
}
.btn-detail{
    color: #fff;
    background-color: #141414;
    box-shadow: none;
}
.btn-manage{
    right: 15px;
    color: #fff;
    background-color: #00a550;
    box-shadow: none;
}
.group-car-detail{
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
}
.lstitle-new{
    color: #a9aaad;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5;
    width: 25%;
    padding-right: 5px;
}
.ctn-desc-new{
    margin-top: 15px;
    margin-left: 150px;
}
.required{
    display: flex;
    flex-wrap: wrap;
}
.required li{
    text-align: left;
    font-size: 15px;
    color: #989898;
    position: relative;
    padding-left: 16px;
    letter-spacing: .25px;
    margin-right: 11px;
    margin-bottom: 22px;
    font-family: "Source Sans Pro",sans-serif;
    margin-left: 15px;
}
/*profile*/
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}

.blog .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -40px;

}

img { max-width:100%; }

a {
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
}

a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
    filter: alpha(opacity=50); /* IE7 */
    opacity: 0.6;
    text-decoration: none;
}

.casing{
    border:1px solid #e8e8e8;
    float:left;
    width:100%;
}
.thumbnail {
    padding: 0px !important;
    border-radius: 0px !important;
    border: none !important;
}

.thumbnails li> .fff .caption {
    background:#fff !important;
    paddaptioning:10px
}
.thumbnails li {
    margin-top: 10px;
}

.page-header {
    background: #ffffff7a;
    margin: 0px 0px 22px;
    padding: 1px 40px;
    border-top: 4px solid #ccc;
    color: #999;
    text-transform: uppercase;
}
.page-header p{
    text-align:center;
}

.page-header h3 {
    line-height: 0.88rem;
    color: #000;
    text-align:center;
    font-size:20px;
    font-weight:bold;
}

ul.thumbnails {
    margin-bottom: 0px;
}
.caption h4 {
    color: #444;
    text-indent: 10px;
    font-weight: 700;
}
.star-profile-car {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.checked{
    color: orange;
}
.caption p {
    color: #999;
    padding: 0px 10px;
}
.control-box {
    text-align: right;
    width: 100%;
    margin-top: -152px;
}


@media (max-width: 767px) {
    .page-header, .control-box {
        text-align: center;
    }
}
@media (max-width: 479px) {
    .caption {
        word-break: break-all;
    }
}


li { list-style-type:none;}

::selection { background: #ff5e99; color: #FFFFFF; text-shadow: 0; }
::-moz-selection { background: #ff5e99; color: #FFFFFF; }

.title-list-car-profile{
    margin: 20px;
}
/*trip*/
.trip-container{
    max-width: 770px;
    margin: 0 auto;
}
.trip-container .has-trip {
    padding-top: 40px;
}
.trip-box{
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
}
.trip-box .trip-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px 0;
}
.trip-box .trip-body {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 30px 15px;
}
.trip-box.new-box .trip-body .left {
    width: 20%;
}
.trip-box .trip-header .left {
    width: 30%;
    display: flex;
}
.trip-box .trip-header .left .car-img {
    position: relative;
    width: 100%;
}
.trip-box.new-box h4.car-name {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: .75rem;
    flex-wrap: wrap;
}
.trip-box .trip-body .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}
.trip-box .trip-header .right {
    padding-left: 20px;
    width: 70%;
}

.trip-box.new-box .trip-body .right p {
    margin-bottom: .5rem;
}
.trip-box.new-box .trip-body .right p.total-price {
    font-weight: 600;
}
.trip-box .trip-footer {
    border-top: 1px solid #e0e0e0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #f8f9fb;
    padding: 15px 30px;
}
.status-trips p span.status {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    display: inline-block;
    margin-right: 10px;
}
.trip-box.new-box span:first-child {
    padding-right: 10px;
}
a, a:hover {
    color: #141414;
    cursor: pointer;
}

.trip-title-tabs{
    margin-left: 150px;
}

/*slider price*/
.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
/*checkout*/
.avatar-checkout{
    border-radius: 100%;
    position: absolute;
    z-index: 1;
}

.status-wrap {
    background-color: #3c4858;
    height: 54px;
    width: 100%;
    margin-bottom: 20px;
}

.red-dot {
    background-color:
        #f44336;
    -webkit-box-shadow: 0 0 10px 0 #f44336;
    box-shadow: 0 0 10px 0
    #f44336;
}

.yellow-dot {
    background-color:
        orange;
    -webkit-box-shadow: 0 0 10px 0 #f44336;
    box-shadow: 0 0 10px 0
    #f44336;
}

.green-dot {
    background-color:
        green;
    -webkit-box-shadow: 0 0 10px 0 #f44336;
    box-shadow: 0 0 10px 0
    #f44336;
}

.blue-dot {
    background-color:
        blue;
    -webkit-box-shadow: 0 0 10px 0 #f44336;
    box-shadow: 0 0 10px 0
    #f44336;
}

.status-wrap p span.status {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    display: inline-block;
    margin-right: 10px;
}

.status-wrap p{
    color: #fff;
    padding: 17px;
}

/*profile card book*/

.profile{
    margin:auto;
}

.profile img{
    border-radius:100%;
    width:40%;
    height: 40%;
}

.profile .card-body{
    text-align:center;
}

.rule-row{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.border-table{
    border: 1px solid #e8eaef;
    border-radius: 3px;
    padding: 15px 25px;
}

.title-bill{
    display: block;
    margin-bottom: 20px;
    color:
        #141414;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.5;
}
 /*modal edit profile*/
.edit-profile-modal { margin: 0px 10px; }

.title-modal-edit {
    margin-top: 2px;
    margin-bottom: 2px;
}

.divider {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

.divider hr {
    margin: 7px 0px;
    width: 35%;
}

.left { float: left; }

.right { float: right; }

/*side bar manage car*/
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.w-sidebar {
    width: var(--sidebar-width);
    max-width: var(--sidebar-width);
    top: 0;
}

.row.collapse{
    margin-left: calc(-1 * var(--sidebar-width));
    left: 0;
    transition: margin-left .15s linear;
}

.row.collapse.show {
    margin-left: 0 !important;
}

.row.collapsing {
    margin-left: calc(-1 * var(--sidebar-width));
    left: -0.05%;
    transition: all .15s linear;
}

:root {
    /* set the sidebar width */
    --sidebar-width: 25vw;
}

.container-manage{
    position: relative;
    width: 1560px;
    margin: 0 auto;
}
.settings{
    padding: 60px 10px;
}
.content-manage{
    border-left: 1px solid #e8eaef;
    float: right;
    width: 73%;
    min-height: 500px;
    padding-left: 90px;
}
.module-settings{
    position: relative;
    margin: 0 auto;
    background-color:
        #f8f9fb;
    padding: 45px 0;
    height: 300px;
}

.header-background-manage {
    padding: 210px 0 50px;
    position: relative;
    height: auto;
    background-color: #c8cbcf;
}

.header-background-manage .wheel-header h2 {
    color:
        #000000;
    font-size: 35px;
    font-weight: 900;
    line-height: 40px;
    text-transform: uppercase;
}
.lstitle{
    display: block;
    margin-bottom: 5px;
    color:
        gray;
    font-size: .875em;
    font-weight: 700;
}
.textarea-describe{
    display: block;
    height: 150px;
    border: 1px solid
    #e8eaef;
    border-radius: 3px;
    line-height: 1.5;
    background-color:
        #fff;
    width: 100%;
    padding: 13px 20px;
    font-size: .875rem;
}
.line{
    display: block;
    width: 100%;
    height: 1px;
    margin: 32px 0;
    border-bottom: 1px solid
    #e8eaef
}
/*manage trip*/
.content {
    width: 100%;
}
.content h1 {
    text-align: center;
}
.content .content-footer p {
    color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
.content .content-footer p a {
    color: inherit;
    font-weight: bold;
}

/*	--------------------------------------------------
	:: Table Filter
	-------------------------------------------------- */
.panel {
    border: 1px solid #ddd;
    background-color: #fcfcfc;
}
.panel .btn-group {
    margin: 15px 0 30px;
}
.panel .btn-group .btn {
    transition: background-color .3s ease;
}
.table-filter {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}
.table-filter tbody tr:hover {
    cursor: pointer;
    background-color: #eee;
}
.table-filter tbody tr td {
    padding: 10px;
    vertical-align: middle;
    border-top-color: #eee;
}
.table-filter tbody tr.selected td {
    background-color: #eee;
}
.table-filter tr td:first-child {
    width: 38px;
}
.table-filter tr td:nth-child(2) {
    width: 35px;
}
.ckbox {
    position: relative;
}
.ckbox input[type="checkbox"] {
    opacity: 0;
}
.ckbox label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ckbox label:before {
    content: '';
    top: 1px;
    left: 0;
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    border-radius: 2px;
    border: 1px solid #bbb;
    background-color: #fff;
}
.ckbox input[type="checkbox"]:checked + label:before {
    border-color: #2BBCDE;
    background-color: #2BBCDE;
}
.ckbox input[type="checkbox"]:checked + label:after {
    top: 3px;
    left: 3.5px;
    content: '\e013';
    color: #fff;
    font-size: 11px;
    font-family: 'Glyphicons Halflings';
    position: absolute;
}
.table-filter .star {
    color: #ccc;
    text-align: center;
    display: block;
}
.table-filter .star.star-checked {
    color: #F0AD4E;
}
.table-filter .star:hover {
    color: #ccc;
}
.table-filter .star.star-checked:hover {
    color: #F0AD4E;
}
.table-filter .media-photo {
    width: 35px;
}
.table-filter .media-body {
    display: block;
    /* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
}
.table-filter .media-meta {
    font-size: 11px;
    color: #999;
}
.table-filter .media .title {
    color: #2BBCDE;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
}
.table-filter .media .title span {
    font-size: .8em;
    margin-right: 20px;
}
.table-filter .media .title span.pagado {
    color: #5cb85c;
}
.table-filter .media .title span.pendiente {
    color: #f0ad4e;
}
.table-filter .media .title span.cancelado {
    color: #d9534f;
}
.table-filter .media .summary {
    font-size: 14px;
}
